---
layout: base.njk
---

<div class="container-lg">
    <div class="row justify-content-left">
        <div class="content">
            <a href="/" class="btn btn-link btn-secondary text-monospace" role="button">RETURN TO HOMEPAGE</a>
            <h1 id="page-title">{{title}}</h1>
            {{ content | safe }}
        </div>
    </div>
    <div class="row justify-content-left">
        <span class="badge m-5">Writeup published on: {{ page.date.toDateString() }}</span>
    </div>
</div>

<footer class="justify-content-center flex-row">
    <div class="w-300 ml-auto mr-auto"></div>
</footer>